
a{
  cursor: pointer;
  padding :8px;
}


.card {
  /* padding: 2px 5px 2px 5px !important; */
  padding: 0px;
  text-align: center;
  background-color: #dcdbdb;
  border-radius: 10px;
  width: 65px;
}

.read-the-docs {
  color: #888;
}
